<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en" th:include="layouts/header :: header">
</head>
<body>

<nav th:replace="layouts/navbar :: navbar"></nav>
<div class="clearfix"></div>
<div class="container row all-projects">
    <div class="row">
        <div class="input-field offset-s3 col s6 offset-s3">
            <div class="card-panel z-depth-5">
                <select name="liste">
                    <option value="0" selected="selected">Toutes</option>
                    <option th:value="${c.id}" th:each="c : ${categories}" th:text="${c.name}"></option>
                </select>
                <label for="liste">Catégories</label>
            </div>
        </div>
    </div>
    <hr class="hr z-depth-5"></hr>
    <div class="row">
        <div class="projectByCategory">
            <div class="col s12 m6 l4 xl4 card-container" th:each="p : ${projects}">
                <div class="card z-depth-5">
                    <div class="card-image waves-effect waves-block waves-light">
                        <img class="activator" src="https://upload.wikimedia.org/wikipedia/bar/thumb/4/4e/Futurama-logo.svg/2000px-Futurama-logo.svg.png"/>
                    </div>

                    <div class="card-content">
                        <small style="display:none;" class="id_project" th:text="${p.id}"></small>
                        <span class="card-title activator grey-text text-darken-4" th:text="${p.name}" style="font-weight: 600; min-width:300px;"></span>

                        <!--<p th:with="excerptLength=${#strings.length(p.description) < 150 ? #strings.length(p.description) : 150}"-->
                        <!--th:text="${#strings.substring(p.description, 0, excerptLength)} + '...'"></p>-->



                        <div class="row right-align" style="margin-top: 10px;">
                            <i>Initiateur: <b class="creator" th:text="${p.creator.firstName + ' ' + p.creator.lastName}"></b></i>
                        </div>

                        <p class="center-align funding-btn">
                            <a th:href="'/projects/' + ${p.id}" class="waves-effect waves-light btn green darken-1 buttonfunding">
                                <i class="material-icons left">attach_money</i>Financer ce projet
                            </a>
                        </p>
                    </div>

                    <div class="card-reveal">
                     <span class="card-title grey-text text-darken-4">Description<i class="material-icons right">close</i></span>
                        <i th:if="${p.description}" class="description"
                           th:text="${p.description}"></i>
                        <a th:href="'/projects/' + ${p.id}" class="waves-effect waves-light btn green darken-1 buttonfunding">
                            <i class="material-icons left">attach_money</i>Financer ce projet
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div lang="en" th:include="layouts/footer :: footer"></div>
</body>
</html>
