<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head lang="en" th:include="layouts/header :: header">
</head>
<body>

<nav th:replace="layouts/navbar :: navbar"></nav>
<div class="clearfix"></div>
<div class="container">
    <div class="card-panel z-depth-5">
    <div class="row">

            <form class="col s12" action="#" th:object="${project}" method="post">
                <div class="row">
                    <div class="input-field col s6">
                        <label for="name">Project name</label>
                        <input type="text" th:field="*{name}" />
                    </div>
                    <div class="input-field col s6">
                        <select name="category">
                            <option th:each="cat : ${categories}" th:value="${cat.id}" th:text="${cat.name}"></option>
                        </select>
                        <label>Categories Select</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        <textarea type="text" th:field="${project.description}" th:class="materialize-textarea"></textarea>
                        <label th:for="description">Description</label>
                    </div>
                </div>
                <button class="btn waves-effect waves-light" type="submit" name="action">Submit
                    <i class="material-icons right">send</i>
                </button>
            </form>
        </div>
    </div>
</div>

<div lang="en" th:include="layouts/footer :: footer"></div>
</body>
</html>