<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en" th:include="layouts/header :: header">
</head>
<body>

<nav th:replace="layouts/navbar :: navbar"></nav>
<div class="clearfix"></div>
<div class="container row project-detail" th:each="p : ${project}">
    <div class="card-panel">
        <div class="row">
            <div class="col s6">
                <small style="display:none;" class="id_project" th:text="${p.id}"></small>
                <h2 th:text="${p.name}"></h2>
                <small th:text="${p.category.name}"></small>
                <p th:text="${p.description}"></p>
                <hr class="hr"></hr>
                <p th:text="'Le ' + ${#dates.format(p.createdAt, 'dd-MM-yyyy HH:mm:ss')} + ' par ' + ${p.creator.firstName}"></p>
            </div>
            <div class="col s6">
                <div class="projectfunding">

                </div>
            </div>
        </div>

    </div>
</div>

<div lang="en" th:include="layouts/footer :: footer"></div>
<script>
    $.ajax({
        method: "GET",
        url: "/fundings/project/" + $(".id_project").text(),
        dataType: "html"
    }).done(function( msg ) {
        console.log(msg);
        $('.projectfunding').html(msg);
    }).fail(function(msg) {
        ///alert( msg.url + " error " + msg.responseText );
    });
</script>
</body>
</html>