<div class="row">
    <div class="col s12">
        <div class="card blue-grey darken-1">
            <div class="card-content white-text">
                <span class="card-title" th:text="${amountTotal} + '€'"></span>
                <hr class="hr"></hr>
                <form action="/fundings/add" th:object="${funding}" method="post">
                    <div class="row">
                        <div class="input-field col s6">

                            <!--<input type="hidden" name="funding_date" th:field="${#dates.createNow()}" />
                            <input type="hidden" name="user_id" th:field="${user}" /> -->
                        </div>
                        <div class="input-field">
                            <input type="hidden" class="project" name="project" th:value="${projectid}" />
                            <label for="amount">Prix</label>
                            <input type="number" class="amount" name="amount" />
                        </div>
                        <button class="btn waves-effect waves-light" type="submit">Contribuer
                            <i class="material-icons right">grade</i>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>