<div class="col s12 m6 l4 xl4 card-container" th:each="p : ${projects}">
    <div class="card z-depth-5">
        <div class="card-image waves-effect waves-block waves-light">
            <img class="activator" src="http://www.project.com/v11/assets/img/latest-placeholder.jpg"/>
        </div>

        <div class="card-content">
            <span class="card-title activator grey-text text-darken-4" th:text="${p.name}" style="font-weight: 600; min-width:300px;"></span>

            <!--<p th:with="excerptLength=${#strings.length(p.description) < 150 ? #strings.length(p.description) : 150}"-->
            <!--th:text="${#strings.substring(p.description, 0, excerptLength)} + '...'"></p>-->



            <div class="row right-align" style="margin-top: 10px;">
                <i>Initiateur: <b class="creator" th:text="${p.creator.firstName + ' ' + p.creator.lastName}"></b></i>
            </div>

            <p class="center-align funding-btn">
                <a href="" class="waves-effect waves-light btn green darken-1">
                    <i class="material-icons left">attach_money</i>Financer ce projet
                </a>
            </p>
        </div>

        <div class="card-reveal">
            <span class="card-title grey-text text-darken-4">Description<i class="material-icons right">close</i></span>
            <i th:if="${p.description}" class="description"
               th:text="${p.description}"></i>
            <a href="" class="waves-effect waves-light btn green darken-1">
                <i class="material-icons left">attach_money</i>Voir en détail
            </a>
        </div>
    </div>
</div>