<div th:fragment="footer">
    <footer class="footer">
        <h2 class="container center-align">
        </h2>
    </footer>

    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script type="text/javascript" th:src="@{/materialize/js/materialize.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/main.js}"></script>
</div>