<nav th:fragment="navbar" class="brown">

    <div class="nav-wrapper">
        <a href="#" data-activates="mobile" class="button-collapse"><i class="material-icons">menu</i></a>
        <ul class="left hide-on-med-and-down">
            <li th:classappend="(${#httpServletRequest.requestURI} == '/projects/all') ? active : null">
                <a href="/projects/all">Liste des projets</a>
            </li>
            <li th:classappend="(${#httpServletRequest.requestURI} == '/projects/new') ? active : null">
                <a href="/projects/new">Démarrer un projet</a>
            </li>
        </ul>

        <a href="/login" class="brand-logo center">CrowdFunder</a>

        <ul class="right">
            <li sec:authorize="isAuthenticated()">
                Connecté en tant que <span class="username" sec:authentication="principal.username"></span>
            </li>

            <li sec:authorize="isAuthenticated()"
                th:classappend="(${#httpServletRequest.requestURI} == '/user/profil') ? active : null">
                <a href="/user/profil"><i class="material-icons left">person</i>Mon profil</a>
            </li>
            <li sec:authorize="isAuthenticated()">
                <a href="/logout"><i class="material-icons left">exit_to_app</i>Se déconnecter</a>
            </li>

            <li sec:authorize="!isAuthenticated()">
                <a href="/login"><i class="material-icons left">exit_to_app</i>Se connecter</a>
            </li>

            <li sec:authorize="!isAuthenticated()">
                <a href="/register"><i class="material-icons left">person</i>Créer un compte</a>
            </li>
        </ul>
        <ul class="side-nav" id="mobile">
            <li th:classappend="(${#httpServletRequest.requestURI} == '/projects/all') ? active : null">
                <a href="/projects/all">Liste des projets</a>
            </li>
            <li th:classappend="(${#httpServletRequest.requestURI} == '/projects/new') ? active : null">
                <a href="/projects/new">Démarrer un projet</a>
            </li>
            <li th:classappend="(${#httpServletRequest.requestURI} == '/user/profil') ? active : null">
                <a href="/user/profil"><i class="material-icons left">person</i>Mon profil</a>
            </li>
            <li><a href="/logout"><i class="material-icons left">exit_to_app</i>Se déconnecter</a></li>
        </ul>

    </div>
</nav>