@import 'https://fonts.googleapis.com/css?family=Playfair+Display';

/* Global properties */
body {
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    margin: 0 auto;
    line-height: 1.5em;
    color: #555;
    text-decoration: none;
    background-color: #424242;
}
.input-icon {
    margin-top: 7px;
}
.hr {
    color: white;
    margin:8px;
}

/* navbar */
nav .brand-logo {
    font-family: 'Playfair Display', serif;
    font-size: 60px !important;
}
nav .username {
    color: #00bfa5;
    font-size: 18px;
    font-weight: 600;
    margin-right: 10px;
}

.clearfix {
    margin:10px;
}

/* all-projects */
.all-projects .card-container {
    padding: 20px;
}
.all-projects .card .funding-btn {
    margin-top: 15px;
}
.all-projects .card .description {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 4;
}
.all-projects .card .creator {
    color: #00897b;
}

/* login */
.login .login-form {
    margin-top: 40px;
    padding-top: 10px;
    padding-bottom: 20px;
    border: 2px solid #f3f3f3;
    border-radius: 2px;
    background-color: #f3f3f3;
}
.login .error-msg {
    color: crimson;
    font-size: 17px;
    font-weight: 600;
    margin-bottom: 10px;
}

/* register */
.register .title {
    margin-left: 42px;
    font-size: 22px;
}
.register .register-form {
    margin-top: 40px;
    padding-top: 20px !important;
    padding-bottom: 20px !important;
    border: 2px solid #f3f3f3;
    border-radius: 2px;
    background-color: #f3f3f3;
}