<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en" th:include="layouts/header :: header">
</head>
<body>

<nav th:replace="layouts/navbar :: navbar"></nav>

<div class="container row all-projects">
    <div class="col s4 card-container" th:each="c : ${categories}">
        
    </div>
</div>

<div lang="en" th:include="layouts/footer :: footer"></div>
</body>
</html>
